* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  background: #4d3f7c;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html, body, #root {
  height: 100%;
}

.container {
  flex-direction: column;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  max-width: 400px;
  margin: 30px;
  background: black;
  border-radius: 4px;
  padding: 20px;
}

input {
  margin: 10px;
}